# Generated manually for the split package

export(abc_model)
export(abc_model_opt)
export(abc_model_sig)
export(abc_timeslice)
export(anc_model)
export(bitola_model)
export(create_comat)
export(create_report)
export(create_sparse_comat)
export(create_tdm)
export(diversify_abc)
export(enhance_abc_kb)
export(eval_evidence)
export(export_chord)
export(export_chord_diagram)
export(export_network)
export(filter_by_type)
export(find_abc_all)
export(find_term)
export(gen_report)
export(get_type_dist)
export(is_valid_biomedical_entity)
export(lsi_model)
export(min_results)
export(parallel_analysis)
export(perm_test_abc)
export(plot_heatmap)
export(plot_network)
export(prep_articles)
export(run_lbd)
export(safe_diversify)
export(validate_abc)
export(vis_abc_heatmap)
export(vis_abc_network)
export(vis_heatmap)
export(vis_network)

importFrom(grDevices,colorRampPalette)
importFrom(grDevices,dev.off)
importFrom(grDevices,png)
importFrom(grDevices,rainbow)
importFrom(graphics,arrows)
importFrom(graphics,axis)
importFrom(graphics,image)
importFrom(graphics,layout)
importFrom(graphics,legend)
importFrom(graphics,mtext)
importFrom(graphics,par)
importFrom(graphics,points)
importFrom(graphics,rect)
importFrom(graphics,segments)
importFrom(graphics,text)
importFrom(httr,GET)
importFrom(httr,POST)
importFrom(httr,content)
importFrom(httr,headers)
importFrom(httr,status_code)
importFrom(stats,aggregate)
importFrom(stats,complete.cases)
importFrom(stats,median)
importFrom(stats,runif)
importFrom(stats,setNames)
importFrom(utils,adist)
importFrom(utils,browseURL)
importFrom(utils,head)
importFrom(utils,setTxtProgressBar)
importFrom(utils,txtProgressBar)
